<div class="container info">
  <div class="header">
    <strong>About</strong>
  </div>
  <div class="row page-contents" id="house-flip">
    <div class="col-sm-4 col-sm-offset-1">
      <%= image_tag("house-flip.jpg") %>
    </div>
    <div class="col-sm-5">
      <p>
        Viverra maecenas curabitur malesuada in volutpat, et mauris sed at purus, ac feugiat, cras suscipit sit. Tempor diam urna pellentesque suspendisse, scelerisque voluptates dis cras cras vel donec, maecenas quam sociosqu, vehicula ut vestibulum wisi, volutpat adipiscing suscipit bibendum. At sed malesuada, repellat nibh vitae sollicitudin, suspendisse iusto gravida purus mauris eu proin. Laoreet fusce imperdiet, mauris tristique nullam sit et blandit fames, est tellus faucibus.  
      </p>
    </div>
  </div>
</div>