<div class="home">
  <div class='container'>
    <div class="landing-page">
      <%= image_tag('shield.png') %>
      <div class="title">
        <strong>Johson & Sepp Associates</strong>
      </div>
      <div class="header">
        <strong>Invest with confidence.</strong>
      </div>
    </div>
  </div>
</div>