<div class='container'>
  <div class="landing-page">
    <%= image_tag('shield.png') %>
    <h1><strong>Johson & Sepp Associates</strong></h1><br><br>
    <h2><strong>Invest with confidence.</strong></h2>
  </div>
</div>
