<div class="container info">
  <div class="header">
    <strong>Privacy Policy</strong>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>
        Porttitor pharetra eros nec ut, sed dui tincidunt, donec posuere sollicitudin non eget, et leo. In molestie, varius sodales a. Blandit urna nibh, venenatis amet, wisi purus placerat ut donec sollicitudin porta, semper neque eros mauris velit vel suspendisse, tortor sed rutrum quis ligula aliquam. Ipsum tincidunt sed ex molestiae nunc, ultrices sed quam convallis lacinia nullam.
      </p>
    </div>
  </div>
</div>