<div class="container info">
  <div class="header">
    <strong>Investment Structure</strong>
  </div>
  <div class="row page-contents" id="invest-chart">
    <div class="col-sm-4 col-sm-offset-1">
      <%= image_tag("invest-chart.png") %>
    </div>
    <div class="col-sm-5">
      <p>
        Lorem ipsum dolor sit amet, nullam ut, iaculis feugiat id, volutpat mi libero rhoncus pharetra aenean, consectetuer purus urna etiam nibh purus tempor. Lobortis non ac mauris sagittis ornare quam, vestibulum turpis lorem pulvinar eleifend, platea natoque. Aenean laoreet, pulvinar imperdiet ridiculus. Metus aliquet, aliquam enim vitae porta enim massa. Fusce pellentesque justo donec. 
      </p>
    </div>
  </div>
</div>