<div class="container info">
  <div class="header">
    <strong>Terms and Conditions</strong>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>
        Dolor volutpat cubilia curabitur sed quis, tincidunt enim nunc metus, neque feugiat ut ut mauris natoque, elementum massa dictum lorem, wisi quis dolor. Cras erat ullamcorper, ante eu eros pulvinar rutrum vitae vel. Eu luctus tincidunt sagittis augue, libero leo ullamcorper vestibulum, sed dolor odio, vehicula pellentesque. Nec porttitor scelerisque sem porttitor amet volutpat, vestibulum vitae proin erat imperdiet tortor vitae, cras at. Accumsan dis integer, vitae pretium posuere praesent eleifend etiam, aenean vel ex fusce.
      </p>
    </div>
  </div>
</div>