body {
  padding-top: 0px;
  background: image-url("home-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-name {
  font-family: 'Old Standard TT', serif;
  font-size: 125%;
}

.navbar {
    background-color: #000033 !important;
    border-color: #000033 !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #D0D0D0 !important;
    text-decoration: none;
}

.centered {
  text-align: center;
}

.navbar-fixed-bottom {
  height: 100px;
}

.landing-page {
  color: black;
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

@media (min-width: 992px) { 
  
  .primary-view .title {
    font-size: 350%;
  }

  .primary-view .header {
    margin-top: 50px;
    font-size: 250%;
  }

  .landing-page img {
    width: 100px;
    margin-top: 100px;
  }

}

@media (min-width: 768px) and (max-width:991px) { 
  
  .primary-view .title {
    font-size: 300%;
  }

  .primary-view .header {
    margin-top: 50px;
    font-size: 200%;
  }

  .landing-page img {
    width: 75px;
    margin-top: 80px;
  }

}

@media (max-width: 767px) { 
  
  .primary-view .title {
    font-size: 200%;
  }

  .primary-view .header {
    margin-top: 50px;
    font-size: 150%;
  }

  .landing-page img {
    width: 50px;
    margin-top: 60px;
  }

}

.footer {
  padding: 25px;  
}

.nav-link img {
    width: 30px;
}

.index-item img {
  width: 100px;
}